config.py
Linux/
Windows/
ver.dat
mols/
uploads/
dist/
*.sdf
*.mol
error_msg.txt
*.csv
log_cello.txt
scarabSqlError.txt
*.xlsx
*.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Excluded Files
nohup.out
frontend/export_tubeids.txt
results (27).zip
frontend/mixer.py
tools/batches.txt
tools/duplicates.txt
tools/quads.txt
tools/singles.txt
tools/smalltest.txt
tools/triples.txt
tools/uniques.txt
tools/wellmixer.py
*.tsv
