<html>
  <head>
  </head>
  <body>
    {% set curLevel = 1 %}
    <ul>
      {% for targetFile in dirFiles %}
          {% if targetFile['level'] > curLevel %}
             <ul>
          {% end %}
          {% if targetFile['level'] < curLevel %}
             </ul>
          {% end %}
          {% if targetFile['type'] == 'file' %}
             <li><a href="/vialdb/{{targetFile['path']}}">{{targetFile['DESCRIPTION']}}</a>
	     {% if targetFile['comment'] != None %}
	         <i>{{targetFile['comment']}}
	         Updated date: {{targetFile['update_date']}}</i>
             {% end %}
	     </li>
	  {% else %}
	     <b>{{targetFile['DESCRIPTION']}}</b>
          {% end %}
          {% set curLevel = targetFile['level'] %}
      {% end %}
    </ul>
  </body>
</html>
